<a href="https://colab.research.google.com/github/albertr808/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro Python
##Variables
tipo dinamico

In [7]:

escuela="fes aragon"
print(escuela)
print("------------")
edad=13
estatura=1.67
fumador=True
frase= """Esta es una frase de
multiple liena
y tambien es un tipo de dato"""
print(frase)
print(frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

fes aragon
------------
Esta es una frase de
multiple liena
y tambien es un tipo de dato
Esta es una frase de
multiple liena
y tambien es un tipo de dato

#Print
con comas, con signos de mas + con format()con el operador f""

In [8]:
#
print(nombre,edad)

jose 13

In [11]:
#CONCATENANDO
print(nombre+str(edad))
print(nombre+nombre_completo)

jose13
josejose sosa cardenas

In [18]:
#Con formato ->nombre: jose y su edad es 13 años
print("su nombre es :",nombre,"y su edad es",edad," años")
print("Su nombre es {0} y su edad  es de {1} años.".format(nombre,edad))

su nombre es : jose y su edad es 13  años
Su nombre es jose y su edad  es de 13 años.

In [19]:
#Con formato con el operador f
print(f"su nombre es {nombre} y su edad es {edad} años")

su nombre es jose y su edad es 13 años

#Caracter de escape
\n salo de linea

\t tabulador

\a beep

\" imprimir comilla doble

\'imprimir comilla simple

#Ayuda de tipos de datos en python
dir() help()

In [25]:
#stri,int,float,bool..list,dict,set
print(nombre_completo.capitalize())
print(nombre_completo.upper()) 
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS
Jose Sosa Cardenas

#Clase String
Es manejada como un arreglo(c o java) o lista aqui en python

In [26]:
telefono="huawei mate 30 pro"
print(telefono[0])

h

#Slicing(rebanado)
[inicio:stop:incremento]
El stop no se incluye , termina en el valor anterior al stop

In [31]:
print(telefono[7:11:1])
#el inicio y el incremento son opcionales
print(telefono[-3::1])

mate
pro

#Metodos de string
Existen metodos muy utiles en esta clase

In [42]:
facultad="    facultad de estudios superiores aragon      "
print(facultad.count(" "))
print(facultad.find("s"))
print(facultad.strip())
print(len(facultad))
print(facultad.split('u'))
print(facultad.strip(" ").split(" "))
print("--------------")
#copiar cadenas
otra_cadena=facultad
facultad="fes aragon"
print(facultad)
print(otra_cadena)

#copiar listas
colores=["rojo","verde"]
otra=colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(otra)

14
17
facultad de estudios superiores aragon
48
['    fac', 'ltad de est', 'dios s', 'periores aragon      ']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
--------------
fes aragon
    facultad de estudios superiores aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']